* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
  color: #1e293b;
}

section {
  padding: 60px 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h1,
h2 {
  margin-bottom: 20px;
}

.btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background: #0b36ad;
}

.rounded-box{
  border-radius: 3px;
  width: 300px;
  display: flex;
  align-items: center;
}